<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office" class="no-js">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<title>oti][ito -- design by [volitilov]</title>
	<meta name="keywords" content="" />
	<meta name="description" content="Theme [oti][ito] - bootstrap version"/>
	<meta name="author" content="[volitilov]" />
	<link rel="shortcut icon" href="/images/favicon.png" type="/images/favicon.png"/>
	<link rel="icon" href="/images/favicon.png" type="/images/favicon.png"/>

	<link rel="stylesheet" href="/style/main.css"/>
	<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
	<main>
		<%- yield %>
	</main>
	
	<script src="js/components/multi-menu/modernizr-custom.js"></script>
	<script src="js/components/multi-menu/classie.js"></script>
	<script src="js/components/multi-menu/dummydata.js"></script>
	<script src="js/components/multi-menu/main.js"></script>
	
	<script src="./js/jquery.min.js"></script>
	<script src="./js/bootstrap.js"></script>
	<script>
		(function() {
			var menuEl = document.getElementById('ml-menu'),
				mlmenu = new MLMenu(menuEl, {
					// breadcrumbsCtrl : true, // show breadcrumbs
					// initialBreadcrumb : 'all', // initial breadcrumb text
					backCtrl : false, // show back button
					// itemsDelayInterval : 60, // delay between each menu item sliding animation
					onItemClick: loadDummyData // callback: item that doesn´t have a submenu gets clicked - onItemClick([event], [inner HTML of the clicked item])
				});

			// mobile menu toggle
			var openMenuCtrl = document.querySelector('.action--open'),
				closeMenuCtrl = document.querySelector('.action--close');

			openMenuCtrl.addEventListener('click', openMenu);
			closeMenuCtrl.addEventListener('click', closeMenu);

			function openMenu() {
				classie.add(menuEl, 'menu--open');
			}

			function closeMenu() {
				classie.remove(menuEl, 'menu--open');
			}

			// simulate grid content loading
			var gridWrapper = document.querySelector('.content');

			function loadDummyData(ev, itemName) {
				ev.preventDefault();

				closeMenu();
				gridWrapper.innerHTML = '';
				classie.add(gridWrapper, 'content--loading');
				setTimeout(function() {
					classie.remove(gridWrapper, 'content--loading');
					gridWrapper.innerHTML = '<ul class="products">' + dummyData[itemName] + '<ul>';
				}, 700);
			}
		})();
	</script>
	
</body>

</html>