<% include components/head/_head %>
<div class="col-md-12 Home animated fadeIn text-center">
	<div class="col-md-12 home-top">
		<div class="col-md-12 home-slide">
			<div class="col-md-12 Head-slide Slide carousel" data-interval="false">
				<ol class="carousel-indicators">
					<li data-target=".Head-slide" data-slide-to="0" class="active"></li>
					<li data-target=".Head-slide" data-slide-to="1"></li>
					<li data-target=".Head-slide" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<div class="carousel-caption">
							<% include components/_description-company %>
						</div>
					</div>
					<div class="item">
						<div class="carousel-caption">
							<% include components/_facts-box %>
						</div>
					</div>
					<div class="item">
						<div class="carousel-caption">
							<% include components/_advantages %>
						</div>
					</div>
				</div>
				<a class="left carousel-control" href=".Head-slide" role="button" data-slide="prev">
					<span aria-hidden="true"><img class="animated fadeInLeft infinite" src="./images/left.svg" /></span>
				</a>
				<a class="right carousel-control" href=".Head-slide" role="button" data-slide="next">
					<span aria-hidden="true"><img class="animated fadeInRight infinite" src="./images/right.svg" /></span>
				</a>
			</div>
		</div>
	</div>
</div>
<% include components/_info-home %>
<% include components/_portfolio %>
<% include components/_services-small %>
<% include components/_blog-small %>
<% include components/_staff %>
<% include components/_help-clients %>
<% include components/_footer %>