<section>
	<nav class="navbar navbar-default head">
		<div class="navbar-header">
			<div class="dop-bg">
				<button type="button" class="navbar-toggle collapsed animated pulse infinite" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
				</button>
			</div>
			<a class="navbar-brand">
				<img class="animated rubberBand" alt="Brand" src="./../../images/start-page.png"/>
			</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<p class="navbar-text">Design by -volitilov-</p>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Info</a></li>
				<li><a href="#">Portfolio</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Prices</a></li>
				<li><a href="#">Contacts</a></li>
				<li class="sign"><a href="sign-up" title="sign up">Sign up</a></li>
			</ul>
		</div>
	</nav>
</section>