<section>
	<div class="col-xs-12 description-company animated bounceInDown">
		<h4>Where you are ?</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>Dolor repudiandae nesciunt placeat non rerum doloremque sit nisi est, <br>doloribus aspernatur itaque nulla cum, modi accusamus porro officiis inventore, iste exercitationem?</p>
		<div class="col-xs-12 big-logo-sites">
			<div class="col-xs-12 main-images">
				<img src="./../images/startPage.png"/>
			</div>
			<div class="col-md-12 heare">
				<ul>
					<li>
						<div class="col-md-4">
							<h1>1</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, reprehenderit soluta, eligendi nisi accusantium, architecto tempore vero sequi assumenda harum maiores enim sint veniam quae perspiciatis rem vitae similique fuga.</p>
						</div>
					</li>
					<li>
						<div class="col-md-4">
							<h1>2</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, reprehenderit soluta, eligendi nisi accusantium, architecto tempore vero sequi assumenda harum maiores enim sint veniam quae perspiciatis rem vitae similique fuga.</p>
						</div>
					</li>
					<li>
						<div class="col-md-4">
							<h1>3</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, reprehenderit soluta, eligendi nisi accusantium, architecto tempore vero sequi assumenda harum maiores enim sint veniam quae perspiciatis rem vitae similique fuga.</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>