<section>
	<div class="col-md-12 face text-center">
		<div class="col-md-12 face-slide">
			<div class="col-md-12 Face-slide Slide carousel" data-interval="false">
				<ol class="carousel-indicators">
					<li data-target=".Face-slide" data-slide-to="0" class="active"></li>
					<li data-target=".Face-slide" data-slide-to="1"></li>
					<li data-target=".Face-slide" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<div class="carousel-caption">
							<% include _face-item-1 %>
						</div>
					</div>
					<div class="item">
						<div class="carousel-caption">
							<% include _face-item-2 %>
						</div>
					</div>
					<div class="item">
						<div class="carousel-caption">
							<% include _face-item-3 %>
						</div>
					</div>
				</div>
				<a class="left carousel-control" href=".Face-slide" role="button" data-slide="prev">
					<span aria-hidden="true"><img class="animated fadeInLeft infinite" src="/images/left.svg" /></span>
				</a>
				<a class="right carousel-control" href=".Face-slide" role="button" data-slide="next">
					<span aria-hidden="true"><img class="animated fadeInRight infinite" src="/images/right.svg" /></span>
				</a>
			</div>
		</div>
	</div>
</section>