<section>
	<nav class="navbar navbar-default head">
		<div class="navbar-header">
			<div class="dop-bg">
				<button type="button" class="navbar-toggle collapsed animated pulse infinite" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
				</button>
			</div>
			<a class="navbar-brand">
				<!-- <img class="animated rubberBand" alt="Brand" src="/images/start-page.png"/> -->
				<h4><font color="#02a8f3">Web</font>site</h4>
			</a>
		</div>

		<div class="collapse navbar-collapse animated bounceInDown" id="bs-example-navbar-collapse-1">
			<p class="navbar-text">Design by -volitilov-</p>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#info">Info</a></li>
				<li><a href="#portfolio">Portfolio</a></li>
				<li><a href="#services">Services</a></li>
				<li><a href="#pricess">Pricess</a></li>
				<li><a href="#contacts">Contacts</a></li>
				<li class="language">
					<label for="checkbox" class="x">RUS</label>
					<input type="checkbox" class="checkbox" id="checkbox" />
					<label for="checkbox">ENG</label>
				</li>
			</ul>
		</div>
	</nav>
</section>