<section>
	<div class="col-xs-12 block-mesage" id="info">
		<img src="/images/icons/info/info-blue.svg" alt="" />
		<h5>Want to see info about ?</h5>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
	</div>
	<div class="col-xs-12 info">
		<div class="col-md-12 Info-slide Slide carousel" data-interval="false">
			<ol class="carousel-indicators">
				<li data-target=".Info-slide" data-slide-to="0" class="active"></li>
				<li data-target=".Info-slide" data-slide-to="1"></li>
				<li data-target=".Info-slide" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="item active">
					<div class="carousel-caption">
						<% include ./../components/_info-item-1 %>
					</div>
				</div>
				<div class="item">
					<div class="carousel-caption">
						<% include ./../components/_info-item-2 %>
					</div>
				</div>
				<div class="item">
					<div class="carousel-caption">
						<% include ./../components/_info-item-3 %>
					</div>
				</div>
			</div>
			<a class="right carousel-control" href=".Info-slide" role="button" data-slide="next">
				<span aria-hidden="true"><img class="animated fadeInRight infinite" src="/images/right.svg" /></span>
			</a>
		</div>
	</div>
</section>