<section>
	<div class="col-md-12 animated bounceInRight pricess-item-3">
		<div class="col-md-4 pricess-item-left">
			<div class="col-md-12 head-item">
				<img src="/images/trending.svg"/>
				<h4>Individuals</h4>
				<h5>For medium sized teams</h5>
			</div>
			<div class="col-md-12 body-item">
				<div class="col-md-12 price">
					<h1>$31</h1>
					<p>/ month</p>
				</div>
				<div class="col-md-12 description">
					<ul>
						<li>50 presentation /month</li>
						<li>5 hour of free support</li>
						<li>10 campaigns /month</li>
					</ul>
				</div>
			</div>
			<button type="button">choose plan</button>
		</div>
		<div class="col-md-8 pricess-item-right">
			<h4>Read more about:</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro exercitationem reprehenderit molestiae consequuntur velit tempore, ad ratione officia eligendi animi rem quidem sapiente pariatur. Beatae vitae quam error itaque ipsam?</p>
			<div class="col-md-12 img-descriptions">
				<!-- image heare -->
			</div>
		</div>
	</div>
</section>