<section>
	<div class="col-md-12 card animated bounceInRight pricess-item-2">
		<ul>
			<li>
				<div class="col-md-4 item">
					<div class="col-md-12 head-item">
						<h4>Freelancer</h4>
					</div>
					<div class="col-md-12 body-item">
						<div class="col-md-12 price">
							<h1>$12 /mo</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						</div>
						<div class="col-md-12 description">
							<ul>
								<li>10 presentation /month</li>
								<li>Support at  $25/hour</li>
								<li>1 campaign /month</li>
							</ul>
						</div>
					</div>
					<button type="button">choose plan</button>
				</div>
			</li>
			<li>
				<div class="col-md-4 item x">
					<div class="col-md-12 head-item">
						<h4>Small business</h4>
					</div>
					<div class="col-md-12 body-item">
						<div class="col-md-12 price">
							<h1>$29.90 /mo</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						</div>
						<div class="col-md-12 description">
							<ul>
								<li>50 presentation /month</li>
								<li>5 hour of free support</li>
								<li>10 campaigns /month</li>
							</ul>
						</div>
					</div>
					<button type="button">choose plan</button>
				</div>
			</li>
			<li>
				<div class="col-md-4 item">
					<div class="col-md-12 head-item">
						<h4>Larger business</h4>
					</div>
					<div class="col-md-12 body-item">
						<div class="col-md-12 price">
							<h1>$50.90 /mo</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						</div>
						<div class="col-md-12 description">
							<ul>
								<li>Unlimited presentation</li>
								<li>Unlimited support</li>
								<li>Unlimited campaigns</li>
							</ul>
						</div>
					</div>
					<button type="button">choose plan</button>
				</div>
			</li>
		</ul>
	</div>
</section>