<section>
	<div class="col-md-12 animated bounceInRight pricess-item-3">
		<div class="col-md-4 pricess-item-left">
			<img src="/images/trending.svg"/>
			<h4>Individuals</h4>
			<h5>For freelance</h5>
			<div class="col-md-12 price">
				<h4><s>$17 /mo</s></h4>
				<h1>$12 /mo</h1>
			</div>
			<div class="col-md-12 description-small">
				<ul>
					<li>10 presentation /month</li>
					<li>Support at  $25/hour</li>
					<li>1 campaign /month</li>
					<li>Example more list</li>
					<li>Example more list</li>
					<li>Example more list</li>
					<li>Example more list</li>
					<li>Example more list</li>
				</ul>
			</div>
		</div>
		<div class="col-md-8 pricess-item-right">
			<h4>Read more about:</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro exercitationem reprehenderit molestiae consequuntur velit tempore, ad ratione officia eligendi animi rem quidem sapiente pariatur. Beatae vitae quam error itaque ipsam?</p>
			<div class="col-md-12 img-descriptions">
				<!-- image heare -->
			</div>
		</div>
		<div class="col-md-12 submit">
			<button type="button">choose plan</button>
		</div>
	</div>
</section>