<section>
	<div class="col-xs-12 block pricess">
		<div class="col-xs-12 block-mesage" id="pricess">
			<img src="/images/shop-blue.svg" alt="" />
			<h5>What is the price for the service ?</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<div class="col-md-12 Pricess-slide Slide carousel" data-interval="false">
			<div class="carousel-inner">
				<div class="item active">
					<div class="carousel-caption">
						<% include ./../components/_pricess-item-1 %>
					</div>
				</div>
				<div class="item">
					<div class="carousel-caption">
						<% include ./../components/_pricess-item-2 %>
					</div>
				</div>
				<div class="item">
					<div class="carousel-caption">
						<% include ./../components/_pricess-item-3 %>
					</div>
				</div>
			</div>
			<a class="right carousel-control" href=".Pricess-slide" role="button" data-slide="next">
				<span aria-hidden="true"><img class="animated fadeInRight infinite x2" src="./images/right.svg" /></span>
			</a>
		</div>
	</div>
</section>