<section>
	<div class="col-md-12 animated bounceInRight pricess-item-1">
		<ul>
			<li>
				<div class="col-md-4 item">
					<div class="col-md-12 head-item">
						<img src="/images/trending.svg"/>
						<h4>Individuals</h4>
						<h5>For freelances</h5>
					</div>
					<div class="col-md-12 body-item">
						<div class="col-md-12 price">
							<h1>$12</h1>
							<p>/ month</p>
						</div>
						<div class="col-md-12 description">
							<ul>
								<li>10 presentation /month</li>
								<li>Support at  $25/hour</li>
								<li>1 campaign /month</li>
							</ul>
						</div>
					</div>
					<button type="button">choose plan</button>
				</div>
			</li>
			<li>
				<div class="col-md-4 item x">
					<div class="col-md-12 head-item">
						<img src="/images/trending.svg"/>
						<h4>Individuals</h4>
						<h5>For medium sized teams</h5>
					</div>
					<div class="col-md-12 body-item">
						<div class="col-md-12 price">
							<h1>$31</h1>
							<p>/ month</p>
						</div>
						<div class="col-md-12 description">
							<ul>
								<li>50 presentation /month</li>
								<li>5 hour of free support</li>
								<li>10 campaigns /month</li>
							</ul>
						</div>
					</div>
					<button type="button">choose plan</button>
				</div>
			</li>
			<li>
				<div class="col-md-4 item">
					<div class="col-md-12 head-item">
						<img src="/images/trending.svg"/>
						<h4>Individuals</h4>
						<h5>For large compaines</h5>
					</div>
					<div class="col-md-12 body-item">
						<div class="col-md-12 price">
							<h1>$56</h1>
							<p>/ month</p>
						</div>
						<div class="col-md-12 description">
							<ul>
								<li>Unlimited presentation</li>
								<li>Unlimited support</li>
								<li>Unlimited campaigns</li>
							</ul>
						</div>
					</div>
					<button type="button">choose plan</button>
				</div>
			</li>
		</ul>
	</div>
</section>