<section>
	<div class="col-xs-12 staff">
		<div class="col-xs-12 block-mesage">
			<img src="./../images/icons/people.svg" alt="" />
			<h5>Our staff ?</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<div class="col-md-12 Staff-slide Slide carousel" data-interval="false">
			<ol class="carousel-indicators">
				<li data-target=".Staff-slide" data-slide-to="0" class="active"></li>
				<li data-target=".Staff-slide" data-slide-to="1"></li>
			</ol>
			<div class="carousel-inner">
				<div class="item active">
					<div class="carousel-caption">
						<% include ./../components/_staff-item-1 %>
					</div>
				</div>
				<div class="item">
					<div class="carousel-caption">
						
					</div>
				</div>
			</div>
			<a class="right carousel-control" href=".Staff-slide" role="button" data-slide="next">
				<span aria-hidden="true"><img class="animated fadeInRight infinite" src="./images/right.svg" /></span>
			</a>
		</div>
	</div>
</section>