<section>
	<div class="col-md-12 animated bounceInRight subscribe-item-2 text-center">
		<h1>Example long name</h1>
		<p>" Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus animi neque repudiandae, saepe, dolor explicabo placeat accusantium dolorum. Odio aliquam impedit tenetur eaque fuga error harum eius cumque ullam non! "</p>
		<div class="col-md-12 social">
			<a href="#"><i class="fa fa-github"></i></a>
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-google-plus"></i></a>
			<!-- <a href="#"><i class="fa fa-pinterest-p"></i></a> -->
			<a href="#"><i class="fa fa-youtube"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-odnoklassniki"></i></a>
			<!-- <a href="#"><i class="fa fa-linkedin"></i></a> -->
			<a href="#"><i class="fa fa-instagram"></i></a>
			<!-- <a href="#"><i class="fa fa-codepen"></i></a> -->
			<!-- <a href="#"><i class="fa fa-bitbucket"></i></a> -->
			<a href="#"><i class="fa fa-behance"></i></a>
			<!-- <a href="#"><i class="fa fa-dribbble"></i></a> -->
			<!-- <a href="#"><i class="fa fa-tumblr"></i></a> -->
			<a href="#"><i class="fa fa-vk"></i></a>
			<!-- <a href="#"><i class="fa fa-whatsapp"></i></a> -->
			<!-- <a href="#"><i class="fa fa-vimeo"></i></a> -->
		</div>
	</div>
</section>