<section>
	<div class="col-xs-12 block subscribe">
		<div class="col-xs-12 block-mesage">
			<img src="/images/plus-1.svg" alt="" />
			<h5>Want to subscribe ?</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<div class="col-md-12 Subscribe-slide Slide carousel" data-interval="false">
			<ol class="carousel-indicators">
				<li data-target=".Subscribe-slide" data-slide-to="0" class="active"></li>
				<li data-target=".Subscribe-slide" data-slide-to="1"></li>
				<li data-target=".Subscribe-slide" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="item active">
					<div class="carousel-caption">
						<% include ./../components/_subscribe-item-1 %>
					</div>
				</div>
				<div class="item">
					<div class="carousel-caption">
						<% include ./../components/_subscribe-item-2 %>
					</div>
				</div>
				<div class="item">
					<div class="carousel-caption">
						<% include ./../components/_subscribe-item-3 %>
					</div>
				</div>
			</div>
			<a class="right carousel-control" href=".Subscribe-slide" role="button" data-slide="next">
				<span aria-hidden="true"><img class="animated fadeInRight infinite x2" src="./images/right.svg" /></span>
			</a>
		</div>
	</div>
</section>