<section>
	<div class="col-xs-12 card animated bounceInRight subscribe-item-1 text-center">
		<h1>Example long name</h1>
		<p>" Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus animi neque repudiandae, saepe, dolor explicabo placeat accusantium dolorum. Odio aliquam impedit tenetur eaque fuga error harum eius cumque ullam non! "</p>
		<form method="POST">
			<fieldset>
				<label>
					<input type="email" name="email" placeholder="@ email adres *" />
				</label>
				<legend><!-- newsletter --></legend>
			</fieldset>
			<fieldset>
				<label>
					<button type="submit">subscribe</button>
				</label>
				<!-- <legend>Submit</legend> -->
			</fieldset>
		</form>
	</div>
</section>