///////////////////////////////////////	default mobile devices
.face-item-1 {
	padding-top: 100px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	h4 {
		margin-top: 50px;
		text-transform: uppercase;
	}
	p {
		font-size: 12px;
	}
	.big-logo-sites {
		padding-top: 20px;
		.main-images {
			img {
				width: 80%;
			}
		}
		.mouse {
			margin-top: 100px;
		}
	}
}

///////////////////////////////////////////////////	tablet devices
@media  (min-width : 768px)  {
	.face-item-1 {
		padding-left: 50px;
		padding-right: 50px;
	}
}

///////////////////////////////////////////////////	laptop devices
@media  (min-width : 996px) {
	// not required
}

///////////////////////////////////////////////////	dekstop devices
@media  (min-width : 1200px) {
	// not required
}