.subscribe-item-2 {
	width: 74%;
	left: 50%;
	margin-left: -37%;
	background-color: rgba(255,255,255,.6);
	-webkit-box-shadow: 0px 22px 45px -15px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 22px 45px -15px rgba(0,0,0,0.5);
	box-shadow: 0px 22px 45px -15px rgba(0,0,0,0.5);
	border-radius: 6px;
	padding: 30px;
	padding-top: 140px;
	padding-bottom: 80px;
	padding-left: 200px;
	padding-right: 200px;
	min-height: 580px;
	margin-bottom: 100px;
	color: #333;
	h1 {
		color: rgb(2, 168, 243);
	}
	p {
		padding-top: 10px;
		padding-bottom: 40px;
	}
	.social {
		border-top: 1px solid #ddd;
		padding-top: 20px;
		margin-top: 10px;
		a {
			transition: all 0.3s;
			display: inline-block;
			width: 35px;
			height: 35px;
			border: 3px solid rgb(2, 168, 243);
			border-radius: 50%;
			padding-top: 9px;
			margin: 5px;
			text-align: center;
			&:hover {
				border: 3px solid #333;
				i {
					color: #333;
				}
			}
		}
		i {
			transition: all 0.3s;
			font-size: 13px;
			color: rgb(2, 168, 243);
		}
	}
}