.subscribe-item-1 {
	padding-top: 120px;
	padding-bottom: 120px;
	padding-left: 200px;
	padding-right: 200px;
	h1 {
		color: rgb(2, 168, 243);
	}
	p {
		padding-top: 10px;
		padding-bottom: 40px;
	}
	form {
		width: 100%;
		display: inline-block;
		fieldset {
			border: none !important;
		}
		input {
			text-align: center;
			color: #333;
			transition: 0.3s;
			background-color: transparent !important;
			width: 60%;
			height: 40px;
			border-radius: 25px;
			border: 3px solid rgb(2, 168, 243);
			&:focus {
				width: 70%;
				border-radius: 4px;
				-webkit-appearance: caps-lock-indicator;
				outline: none;
			}
		}
		input::-webkit-input-placeholder,
		textarea::-webkit-input-placeholder {
			color: rgb(2, 168, 243);
		}
		button {
			margin-top: 20px;
			color: white;
			transition: 0.3s;
			font-size: 14px;
			font-weight: bold;
			background-color: @color-default;
			border-radius: 4px;
			-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
			-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
			box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
			padding: 10px 25px;
			padding-left: 20px;
			border: none;
			&:after {
				transition: all 0.3s;
				color: white;
				top: -2px;
				right: -10px;
				font-size: 9px;
				display: inline-block;
				position: relative;
				z-index: 1;
				content: "❯";
			}
			&:hover {
				cursor: pointer;
				&:after {
					right: -15px;
				}
			}
		}
	}
}